* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #0D1117;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    color: #ffffff;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #ffffff;
}

.nav-link {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-link:hover {
    transform: translateY(-5px);
}


.navbar .logo a {
    text-decoration: none;
    color: #ffffff;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    gap: 80px;
    height: 300px;
}

.line {
    width: 1200px;
    height: 1px;
    background-color: #ffffff;
}

.chart-title {
    text-align: center;
    margin: 20px;
    color: #ffffff;
}


.footer-links {
    display: flex;
    gap: 20px;
}

.footer-icon {
    width: 40px;
    height: 40px;
}



table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    color: #ffffff;
    box-sizing: border-box;
    border-collapse: separate;
    border-radius: 18px;
    border-spacing: 0;
}



th {
    padding: 20px;
}

td {
    padding: 20px;
}

.table {
    width: 80%;
    margin: 0 auto;
}

.studentName {
    cursor: pointer;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.overlay-content {
    background: #5A647D;
    color: #ffffff;
    padding: 20px;
    border-radius: 18px;
    width: 300px;
    margin: auto;
}

.overlay-content button {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}



.present {
    background-color: green;
    color: white;
}

.absent {
    background-color: red;
    color: white;
}