* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D1117;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    color: #ffffff;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #ffffff;
}

.nav-link {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-link:hover {
    transform: translateY(-5px);
}

.navbar .logo {
    font-size: 32px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    gap: 80px;
    height: 300px;
}

.line {
    width: 1200px;
    height: 1px;
    background-color: #ffffff;
}


.footer-links {
    display: flex;
    gap: 20px;
}

.footer-icon {
    width: 40px;
    height: 40px;
}


.dashboard-heading {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    margin: 20px 0px 50px;

}

.dashboard-heading h1 {
    font-size: 32px;
}

.dashboard-heading img {
    width: 45px;
    height: 45px;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #5A647D;
    width: 600px;
    border-radius: 18px;
    gap: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.dashboard-card .line {
    height: 2px;
    background-color: #ffffff;
    width: 80px;
}

.card-heading {
    background-color: transparent;
    font-size: 28px;
    color: #ffffff;
}

.dashboard-card img {
    background-color: transparent;
}

.dashboard-card button {
    background-color: #58A6FF;
    color: #ffffff;
    width: 450px;
    height: 45px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.dashboard-card button:hover {
    transform: translateY(-5px);
}

.dashboard-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

a {
    text-decoration: none;
    color: transparent;
}